body, html {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #716e6e;
}

.certificate {
    position: relative;
    width: 740px;
    height: 1060px;
    transform: rotate(-100grad);
    background-image:  url('image/image.jpg');
    background-repeat: no-repeat;/* Your certificate image */
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.certificate-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333;
}
@media (max-width: 600px) {
    .certificate {
        transform: rotate(0grad);
        background-size: 100%;
        background-repeat: no-repeat;

    }
}

